[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[Makefile]
indent_style = tab

# https://kotlinlang.org/docs/packages.html#imports
[*.{kt,kts}]
disabled_rules=no-wildcard-imports
max_line_length=200

[{*.tf,*.tfvars}]
indent_size = 2
ij_hcl-terraform_array_wrapping = 2
ij_hcl-terraform_keep_blank_lines_in_code = 2
ij_hcl-terraform_keep_indents_on_empty_lines = false
ij_hcl-terraform_keep_line_breaks = true
ij_hcl-terraform_object_wrapping = 2
ij_hcl-terraform_property_alignment = 0
ij_hcl-terraform_property_line_commenter_character = 0
ij_hcl-terraform_space_after_comma = true
ij_hcl-terraform_space_before_comma = false
ij_hcl-terraform_spaces_around_assignment_operators = true
ij_hcl-terraform_spaces_within_braces = false
ij_hcl-terraform_spaces_within_brackets = false
ij_hcl-terraform_wrap_long_lines = false

[{*.yaml,*.yml}]
indent_size = 2
ij_yaml_keep_indents_on_empty_lines = false
ij_yaml_keep_line_breaks = true

[*.md]
indent_size = 2
tab_width = 2

[*.json]
indent_size = 2
tab_width = 2
